@import 'variables';

.container {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  transition: background-color 0.3 ease;
}

.content {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 480px;
  margin: 0 auto;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    .label {
      font-size: $font-size-small;
    }
    .input {
      border-radius: calc(0.5rem + $font-size);
      border-width: 0.075rem;
      border-style: solid;
      font-size: $font-size;
      padding: 0.5rem 1rem;
      background-color: transparent;
    }
  }

  .button[type='submit'] {
    margin: 2rem 0;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;

    cursor: pointer;
    transition: background-color 0.3s ease;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: calc(0.5rem + $font-size);
    font-size: $font-size;
    padding: 0.5rem 1rem;

    &:active {
      background-color: var(--focus-primary-color);
      border-color: var(--focus-primary-color);
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}
